<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/v-tooltip"></script>
</head>
<body>
<div id="app" v-cloak>
    <h3>Users (total: {{totalItems}}): <button v-on:click="buttonClick">{{btnLabel}}</button></h3>
    <table v-show="tVisible">
        <tr>
            <th v-for="label in ['№', 'Имя','Отчество','Фамилия','Аватара']">
                {{label}}
            </th>
        </tr>
        <tr v-for="(item, index) in users" :key="item.id">
            <td v-for="(value, key) in item">
                <span v-if="key=='id'">
                    {{index}}
                </span>
                <span  v-else-if="key=='avatar'">
                    {{value?value:""}}
                </span>
                <span v-else>
                    {{value}}
                </span>
            </td>
        </tr>
    </table>
</div>
<script>
    Vue.directive('tooltip', VTooltip.VTooltip)
    new Vue({
        el: '#app',
        data: function () {
            return {
                tVisible: true,
                btnLabel: "Скрыть",
                users: [
                    {
                        id: "u1",
                        firstName: "Иван",
                        middleName: "Иванович",
                        lastName: "Иванов",
                        avatar: ""
                    },
                    {
                        id: "u2",
                        firstName: "Петр",
                        middleName: "Петрович",
                        lastName: "Петров"
                    },
                    {
                        id: "u3",
                        firstName: "Сергей",
                        middleName: "Сергеевич",
                        lastName: "Сидоров",
                        avatar: ""
                    },
                    {
                        id: "u4",
                        firstName: "Алексей",
                        middleName: "Алексеевич",
                        lastName: "Алексеев",
                        avatar: ""
                    },
                    {
                        id: "u5",
                        firstName: "Александр",
                        middleName: "Александрович",
                        lastName: "Александров",
                    }
                ]
            }
        },
        computed: {
            totalItems: function () {
                return this.users.length;
            }
        },
        methods: {
            buttonClick: function () {
                this.tVisible = !this.tVisible;
                this.btnLabel = this.tVisible ? "Скрыть" : "Показать";
            }
        }
    })
</script>
</body>
</html>