<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/v-tooltip"></script>
    <script src="https://unpkg.com/v-copy@0.1.0/dist/v-copy.min.js"></script>
</head>
<body>
<div id="app" v-cloak>
    <h3>Users (total: {{totalItems}}):
        <button v-on:click="buttonClick" v-tooltip="btnTooltip">{{btnLabel}}</button>
    </h3>
    <table v-show="tVisible">
        <tr>
            <th v-for="label in ['№', 'Имя','Отчество','Фамилия','Аватара']">
                {{label}}
            </th>
        </tr>
        <tr v-for="(item, index) in users" :key="item.id">
            <td v-for="(value, key) in item">
                <span v-if="key=='id'">
                    {{index}}
                </span>
                <span v-else-if="key=='avatar'">
                    <img v-bind:src="value?value:defaultAvatar" height="64"/></span>
                <span v-else>
                    {{value | fUpper}}
                </span>
            </td>
            <td>
                <button v-copy="item.firstName + ' ' + item.middleName + ' ' +  item.lastName">Copy!</button>
            </td>
        </tr>
    </table>
</div>
<script>

    Vue.filter('fUpper', function (value) {
        if (!value) return ''
        value = value.toString()
        return value.charAt(0).toUpperCase() + value.slice(1)
    });

    new Vue({
        el: '#app',
        data: function () {
            return {
                tVisible: true,
                btnLabel: "Скрыть",
                btnTooltip: "Скрыть таблицу",
                defaultAvatar: "images/no-user-photo-64.png",
                users: [
                    {
                        id: "u1",
                        firstName: "иван",
                        middleName: "иванович",
                        lastName: "иванов",
                        avatar: "images/vue.js-logo.png"
                    },
                    {
                        id: "u2",
                        firstName: "петр",
                        middleName: "петрович",
                        lastName: "петров",
                        avatar: null
                    },
                    {
                        id: "u3",
                        firstName: "сергей",
                        middleName: "сергеевич",
                        lastName: "сидоров",
                        avatar: "images/vue.js-logo.png"
                    },
                    {
                        id: "u4",
                        firstName: "алексей",
                        middleName: "алексеевич",
                        lastName: "алексеев",
                        avatar: "images/vue.js-logo.png"
                    },
                    {
                        id: "u5",
                        firstName: "Александр",
                        middleName: "Александрович",
                        lastName: "Александров",
                        avatar: null
                    }
                ]
            }
        },
        computed: {
            totalItems: function () {
                return this.users.length;
            }
        },
        methods: {
            buttonClick: function () {
                this.tVisible = !this.tVisible;
                this.btnLabel = this.tVisible ? "Скрыть" : "Показать";
                this.btnTooltip = this.tVisible ? "Скрыть таблицу" : "Показать таблицу";
            }
        }
    })
</script>
</body>
</html>